@layer root {
  :root { --spacing-root: 0.25rem }
}
@layer \@reference-ui\/lib {
@layer reset, global, base, tokens, recipes, utilities;
@layer global {
  /* system global layer collapsed; pinned by ATM-SYS-01 */
}
@layer tokens {
  /* system tokens layer collapsed; pinned by ATM-SYS-01 */
}
@layer utilities {
  .\@reference-ui\/lib__background-image_linear-gradient\(\{colors\.red\.200\}\,_\{colors\.blue\.300\}\) { background-image: linear-gradient(var(--colors-red-200), var(--colors-blue-300)); }
  .\@reference-ui\/lib__c_transparent { color: transparent; }
  .\@reference-ui\/lib__-webkit-background-clip_text { -webkit-background-clip: text; }
  .\@reference-ui\/lib__\[\&\:hover\]\:background-image_linear-gradient\(\{colors\.red\.500\}\,_\{colors\.blue\.500\}\):hover { background-image: linear-gradient(var(--colors-red-500), var(--colors-blue-500)); }
  .\@reference-ui\/lib__\[\&\:hover\]\:c_transparent:hover { color: transparent; }
  .\@reference-ui\/lib__\[\&\:hover\]\:-webkit-background-clip_text:hover { -webkit-background-clip: text; }
}
}
