@layer reset, global, base, tokens, recipes, utilities;
@layer utilities {
  .c_blue\.600 { color: var(--colors-blue-600); }
  .dark .dark\:bg_gray\.900 { background: var(--colors-gray-900); }
  .hover\:c_red\.500:is(:hover, [data-hover]) { color: var(--colors-red-500); }
}
