# Dependencies
node_modules
.pnpm-store
research/
# Build outputs
dist
target
tmp
.stencil
loader
www
storybook-static
cosmos-export

# IDE
.cursor
.vscode
.idea
*.swp
*.swo
.verdent
*~

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Reference UI generated
.complexity-temp
reports/
.eslint-result.txt
.reference
.sandbox-reference-e2e
packages/.sandbox
.reference-ui
.ref
packages/reference-core/src/system/styled
packages/reference-core/src/reference/browser-component/
packages/reference-unit/tests/fixtures/sync-readiness/src/generated/

# Nx
.nx

vitest.config.*.timestamp*