@layer reset, global, base, tokens, recipes, utilities;
@layer utilities {
  .bg_blue\.600 { background: var(--colors-blue-600); }
  .hover\:c_red\.500:is(:hover, [data-hover]) { color: var(--colors-red-500); }
  .mt_2r { margin-top: calc(2 * var(--spacing-root)); }
}
