@layer reset, global, base, tokens, recipes, utilities;
@layer tokens {
  :root {
    --colors-n100: #f4f4f5;
    --colors-n200: #e4e4e7;
    --colors-n300: #d4d4d8;
    --radii-md: 0.4rem;
  }
  [data-panda-theme=dark] {
    --colors-n100: #18181b;
    --colors-n200: #27272a;
    --colors-n300: #3f3f46;
  }
}
@layer utilities {
  .bg_n100 { background: var(--colors-n100); }
  .bg_n200 { background: var(--colors-n200); }
  .bg_n300 { background: var(--colors-n300); }
  .c_n100 { color: var(--colors-n100); }
  .c_n200 { color: var(--colors-n200); }
  .c_n300 { color: var(--colors-n300); }
}
