@layer root {
  :root { --spacing-root: 0.25rem }
}
@layer \@reference-ui\/lib {
@layer reset, global, base, tokens, recipes, utilities;
@layer global {
  /* system global layer collapsed; pinned by ATM-SYS-01 */
}
@layer tokens {
  /* system tokens layer collapsed; pinned by ATM-SYS-01 */
}
@layer utilities {
  .\@reference-ui\/lib__m_2px { margin: 2px; }
  .\@reference-ui\/lib__m_8px { margin: 8px; }
  .\@reference-ui\/lib__p_1px { padding: 1px; }
  .\@reference-ui\/lib__p_4px { padding: 4px; }
  .\@reference-ui\/lib__p_8px { padding: 8px; }
  .\@reference-ui\/lib__c_blue { color: blue; }
  .\@reference-ui\/lib__c_red { color: red; }
  .\@reference-ui\/lib__c_blue\.600 { color: var(--colors-blue-600); }
}
}
