@layer identifier-spread {
@layer reset, global, base, tokens, recipes, utilities;
@layer global {
  :root { --spacing-root: 0.25rem }
}
@layer tokens {
  :root, [data-theme=light] {
    --colors-n300: #d4d4d8;
  }
  [data-theme=dark] {
    --colors-n300: #3f3f46;
  }
}
@layer utilities {
  .identifier-spread__bg_n300 { background: var(--colors-n300); }
  .identifier-spread__p_1r { padding: var(--spacing-root); }
  .identifier-spread__c_red { color: red; }
  .identifier-spread__mt_2r { margin-top: calc(2 * var(--spacing-root)); }
}
}
