@layer want-serde {
  @layer reset, global, base, tokens, recipes, utilities;
  @layer tokens {
    :root,
    [data-color-mode='light'] {
      --colors-n300: #d4d4d8;
    }
    [data-color-mode='dark'] {
      --colors-n300: #3f3f46;
    }
  }
  @layer utilities {
    .want-serde__hover\:bg_n300:is(:hover, [data-hover]) {
      background: var(--colors-n300);
    }
  }
}
