@layer root {
  :root { --spacing-root: 0.25rem }
}
@layer \@reference-ui\/lib {
@layer reset, global, base, tokens, recipes, utilities;
@layer global {
  /* system global layer collapsed; pinned by ATM-SYS-01 */
}
@layer tokens {
  /* system tokens layer collapsed; pinned by ATM-SYS-01 */
}
@layer utilities {
  .\@reference-ui\/lib__groupHover\:bg_blue\.500:is(:where(.group, [data-group]):is(:hover, [data-hover]) *) { background: var(--colors-blue-500); }
  .\@reference-ui\/lib__peerFocus\:c_red\.500:is(:where(.peer, [data-peer]):is(:focus, [data-focus]) ~ *) { color: var(--colors-red-500); }
  .\@reference-ui\/lib__\[\&\[data-slot\=inner\]\]\:mt_2r[data-slot=inner] { margin-top: calc(2 * var(--spacing-root)); }
}
}
