@layer root {
  :root { --spacing-root: 0.25rem }
}
@layer \@reference-ui\/lib {
@layer reset, global, base, tokens, recipes, utilities;
@layer global {
  /* system global layer collapsed; pinned by ATM-SYS-01 */
}
@layer tokens {
  /* system tokens layer collapsed; pinned by ATM-SYS-01 */
}
@layer utilities {
  .\@reference-ui\/lib__p_0\! { padding: 0 !important; }
  .\@reference-ui\/lib__c_red\! { color: red !important; }
  .\@reference-ui\/lib__content_\"hello\!\" { content: "hello!"; }
}
}
