@layer root {
  :root { --spacing-root: 0.25rem }
}
@layer \@reference-ui\/lib {
@layer reset, global, base, tokens, recipes, utilities;
@layer global {
  /* system global layer collapsed; pinned by ATM-SYS-01 */
}
@layer tokens {
  /* system tokens layer collapsed; pinned by ATM-SYS-01 */
}
@layer utilities {
  .\@reference-ui\/lib__p_4px { padding: 4px; }
  .\@reference-ui\/lib__c_black { color: black; }
  @container (min-width: 640px) {
    .\@reference-ui\/lib__sm\:c_black { color: black; }
  }
  @container (min-width: 768px) {
    .\@reference-ui\/lib__md\:p_4px { padding: 4px; }
  }
}
}
