@layer reset, global, base, tokens, recipes, utilities;
@layer utilities {
  .bd-b-s_solid { border-bottom-style: solid; }
  .bd-b-w_3px { border-bottom-width: 3px; }
  .bd-c_gray\.800 { border-color: var(--colors-gray-800); }
  .ring-c_blue\.600 { outline-color: var(--colors-blue-600); }
  .ring-s_solid { outline-style: solid; }
  .ring-w_1px { outline-width: 1px; }
}
