@layer root {
  :root { --spacing-root: 0.25rem }
}
@layer \@reference-ui\/lib {
@layer reset, global, base, tokens, recipes, utilities;
@layer global {
  /* system global layer collapsed; pinned by ATM-SYS-01 */
}
@layer tokens {
  /* system tokens layer collapsed; pinned by ATM-SYS-01 */
}
@layer utilities {
  .\@reference-ui\/lib__bd-b-c_transparent { border-bottom-color: transparent; }
  .\@reference-ui\/lib__bd-b-s_solid { border-bottom-style: solid; }
  .\@reference-ui\/lib__bd-b-w_3px { border-bottom-width: 3px; }
  .\@reference-ui\/lib__c_blue\.500 { color: var(--colors-blue-500); }
  .\@reference-ui\/lib__c_green\.500 { color: var(--colors-green-500); }
  .\@reference-ui\/lib__c_red\.500 { color: var(--colors-red-500); }
  .\@reference-ui\/lib__cursor_not-allowed { cursor: not-allowed; }
  .\@reference-ui\/lib__cursor_pointer { cursor: pointer; }
  .\@reference-ui\/lib__op_0\.5 { opacity: 0.5; }
  .\@reference-ui\/lib__op_1 { opacity: 1; }
}
}
