@layer reset, global, base, tokens, recipes, utilities;
@layer utilities {
  .gap_2\/3r { gap: calc(2 * var(--spacing-root) / 3); }
  .mb_2r { margin-bottom: calc(2 * var(--spacing-root)); }
  .mt_1r { margin-top: var(--spacing-root); }
  .pb_1\/3r { padding-bottom: calc(var(--spacing-root) / 3); }
  .pt_0\.5r { padding-top: calc(0.5 * var(--spacing-root)); }
}
