@layer root {
  :root { --spacing-root: 0.25rem }
}
@layer \@reference-ui\/lib {
@layer reset, global, base, tokens, recipes, utilities;
@layer global {
  /* system global layer collapsed; pinned by ATM-SYS-01 */
}
@layer tokens {
  /* system tokens layer collapsed; pinned by ATM-SYS-01 */
}
@layer utilities {
  .\@reference-ui\/lib__bd-b-c_transparent { border-bottom-color: transparent; }
  .\@reference-ui\/lib__bd-b-s_solid { border-bottom-style: solid; }
  .\@reference-ui\/lib__bd-b-w_3px { border-bottom-width: 3px; }
  .\@reference-ui\/lib__fs_12px { font-size: 12px; }
  .\@reference-ui\/lib__fs_14px { font-size: 14px; }
  .\@reference-ui\/lib__fs_16px { font-size: 16px; }
  .\@reference-ui\/lib__fs_18px { font-size: 18px; }
}
}
