@layer reset, global, base, tokens, recipes, utilities;
@layer utilities {
  .bg_n100 { background: n100; }
  .c_blue\.600 { color: var(--colors-blue-600); }
  .dark .dark\:bg_gray\.900 { background: var(--colors-gray-900); }
  .dark .dark\:hover\:focusVisible\:bd-c_gold:is(:hover, [data-hover]):is(:focus-visible, [data-focus-visible]) { border-color: gold; }
  .dark .dark\:hover\:focusVisible\:ring-c_yellow:is(:hover, [data-hover]):is(:focus-visible, [data-focus-visible]) { outline-color: yellow; }
  .dark .dark\:hover\:focusVisible\:ring-s_solid:is(:hover, [data-hover]):is(:focus-visible, [data-focus-visible]) { outline-style: solid; }
  .dark .dark\:hover\:focusVisible\:ring-w_2px:is(:hover, [data-hover]):is(:focus-visible, [data-focus-visible]) { outline-width: 2px; }
  .dark .hover\:dark\:bg_n900:is(:hover, [data-hover]) { background: n900; }
  .dark .hover\:dark\:c_white:is(:hover, [data-hover]) { color: white; }
  .focusVisible\:ring-s_solid:is(:focus-visible, [data-focus-visible]) { outline-style: solid; }
  .focusVisible\:ring-w_2px:is(:focus-visible, [data-focus-visible]) { outline-width: 2px; }
  .hover\:bg_n200:is(:hover, [data-hover]) { background: n200; }
  .hover\:c_green:is(:hover, [data-hover]) { color: green; }
  .hover\:c_red\.500:is(:hover, [data-hover]) { color: var(--colors-red-500); }
}
