@layer reset, global, base, tokens, recipes, utilities;
@layer utilities {
  .bd-b-s_solid { border-bottom-style: solid; }
  .bd-b-w_3px { border-bottom-width: 3px; }
  .bd-c_gray\.800 { border-color: var(--colors-gray-800); }
}
