@layer reference-unit, layers-isolation;

@layer layers-isolation {
@layer reset, base, tokens, recipes, utilities;

@layer reset{
  html,:host {
    --font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: var(--global-font-body, var(--font-fallback));
    -webkit-tap-highlight-color: transparent;
}

  *,::before,::after,::backdrop,::file-selector-button {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: var(--global-color-border, currentcolor);
    box-sizing: border-box;
}

  hr {
    color: inherit;
    height: 0px;
    border-top-width: 1px;
}

  body {
    line-height: inherit;
    height: 100%;
}

  img {
    border-style: none;
}

  img,svg,video,canvas,audio,iframe,embed,object {
    display: block;
    vertical-align: middle;
}

  img,video {
    max-width: 100%;
    height: auto;
}

  h1,h2,h3,h4,h5,h6 {
    text-wrap: balance;
    font-size: inherit;
    font-weight: inherit;
}

  p,h1,h2,h3,h4,h5,h6 {
    overflow-wrap: break-word;
}

  ol,ul,menu {
    list-style: none;
}

  button,input:where([type='button'], [type='reset'], [type='submit']),::file-selector-button {
    appearance: button;
    -webkit-appearance: button;
}

  button,input,optgroup,select,textarea,::file-selector-button {
    font: inherit;
    background: transparent;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
}

  ::placeholder {
    --placeholder-fallback: rgba(0, 0, 0, 0.5);
    opacity: 1;
    color: var(--global-color-placeholder, var(--placeholder-fallback));
}

  @supports (not (-webkit-appearance: -apple-pay-button)) or (contain-intrinsic-size: 1px) {
    ::placeholder {
      --placeholder-fallback: color-mix(in oklab, currentcolor 50%, transparent);
}
}

  ::selection {
    background-color: var(--global-color-selection, rgba(0, 115, 255, 0.3));
}

  textarea {
    resize: vertical;
}

  table {
    border-color: inherit;
    text-indent: 0px;
    border-collapse: collapse;
}

  summary {
    display: list-item;
}

  small {
    font-size: 80%;
}

  sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

  sub {
    bottom: -0.25em;
}

  sup {
    top: -0.5em;
}

  dialog {
    padding: 0px;
}

  a {
    text-decoration: inherit;
    color: inherit;
}

  abbr:where([title]) {
    text-decoration: underline dotted;
}

  b,strong {
    font-weight: bolder;
}

  code,kbd,samp,pre {
    --font-mono-fallback: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New';
    font-family: var(--global-font-mono, var(--font-mono-fallback));
    font-size: 1em;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

  progress {
    vertical-align: baseline;
}

  ::-webkit-search-decoration,::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

  ::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto;
}

  :-moz-ui-invalid {
    box-shadow: none;
}

  :-moz-focusring {
    outline: auto;
}

  [hidden]:where(:not([hidden='until-found'])) {
    display: none !important;
}
}

@layer base{
  :root {
    --made-with-panda: '🐼';
    --r-base: 16px;
    --r-density: 1;
    --spacing-r: calc(var(--r-base) * var(--r-density));
}

  [data-reference-browser] {
    --reference-color-foreground: #000000;
    --reference-color-muted: #5f5f5f;
    --reference-color-border: #000000;
    --reference-color-background: #ffffff;
    --reference-color-subtle-background: #f6f6f6;
    --reference-space-xxs: 0.125rem;
    --reference-space-xs: 0.25rem;
    --reference-space-sm: 0.5rem;
    --reference-space-md: 0.75rem;
    --reference-space-lg: 1rem;
    --reference-font-mono: monospace;
}

  *,::before,::after,::backdrop {
    --blur: /*-*/ /*-*/;
    --brightness: /*-*/ /*-*/;
    --contrast: /*-*/ /*-*/;
    --grayscale: /*-*/ /*-*/;
    --hue-rotate: /*-*/ /*-*/;
    --invert: /*-*/ /*-*/;
    --saturate: /*-*/ /*-*/;
    --sepia: /*-*/ /*-*/;
    --drop-shadow: /*-*/ /*-*/;
    --backdrop-blur: /*-*/ /*-*/;
    --backdrop-brightness: /*-*/ /*-*/;
    --backdrop-contrast: /*-*/ /*-*/;
    --backdrop-grayscale: /*-*/ /*-*/;
    --backdrop-hue-rotate: /*-*/ /*-*/;
    --backdrop-invert: /*-*/ /*-*/;
    --backdrop-opacity: /*-*/ /*-*/;
    --backdrop-saturate: /*-*/ /*-*/;
    --backdrop-sepia: /*-*/ /*-*/;
    --gradient-from-position: /*-*/ /*-*/;
    --gradient-to-position: /*-*/ /*-*/;
    --gradient-via-position: /*-*/ /*-*/;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --rotate-x: 0;
    --rotate-y: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1;
}
}



@layer utilities{

  .p_1rem {
    padding: 1rem;
}

  .p_var\(--spacing-1r\) {
    padding: var(--spacing-1r);
}

  .bg-c_fixtureAccent {
    background-color: var(--colors-fixture-accent);
}

  .c_var\(--colors-fixture-accent\) {
    color: var(--colors-fixture-accent);
}
}
}





[data-layer="layers-isolation"] {
  --spacing-px: 1px;
  --spacing-r: 0.25rem;
  --spacing-0\.5r: calc(0.5 * var(--spacing-r));
  --spacing-1\/2r: calc(var(--spacing-r) / 2);
  --spacing-1\/3r: calc(var(--spacing-r) / 3);
  --spacing-1\/4r: calc(var(--spacing-r) / 4);
  --spacing-1\/5r: calc(var(--spacing-r) / 5);
  --spacing-1\/6r: calc(var(--spacing-r) / 6);
  --spacing-1r: var(--spacing-r);
  --spacing-1\.5r: calc(1.5 * var(--spacing-r));
  --spacing-2r: calc(2 * var(--spacing-r));
  --spacing-3r: calc(3 * var(--spacing-r));
  --spacing-4r: calc(4 * var(--spacing-r));
  --spacing-5r: calc(5 * var(--spacing-r));
  --spacing-6r: calc(6 * var(--spacing-r));
  --spacing-8r: calc(8 * var(--spacing-r));
  --spacing-10r: calc(10 * var(--spacing-r));
  --spacing-12r: calc(12 * var(--spacing-r));
  --colors-fixture-accent: rgb(17, 24, 39);
}

@layer reference-unit {
@layer reset, base, tokens, recipes, utilities;

@layer reset{
  html,:host {
    --font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: var(--global-font-body, var(--font-fallback));
    -webkit-tap-highlight-color: transparent;
}

  *,::before,::after,::backdrop,::file-selector-button {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: var(--global-color-border, currentcolor);
    box-sizing: border-box;
}

  hr {
    color: inherit;
    height: 0px;
    border-top-width: 1px;
}

  body {
    line-height: inherit;
    height: 100%;
}

  img {
    border-style: none;
}

  img,svg,video,canvas,audio,iframe,embed,object {
    display: block;
    vertical-align: middle;
}

  img,video {
    max-width: 100%;
    height: auto;
}

  h1,h2,h3,h4,h5,h6 {
    text-wrap: balance;
    font-size: inherit;
    font-weight: inherit;
}

  p,h1,h2,h3,h4,h5,h6 {
    overflow-wrap: break-word;
}

  ol,ul,menu {
    list-style: none;
}

  button,input:where([type='button'], [type='reset'], [type='submit']),::file-selector-button {
    appearance: button;
    -webkit-appearance: button;
}

  button,input,optgroup,select,textarea,::file-selector-button {
    font: inherit;
    background: transparent;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
}

  ::placeholder {
    --placeholder-fallback: rgba(0, 0, 0, 0.5);
    opacity: 1;
    color: var(--global-color-placeholder, var(--placeholder-fallback));
}

  @supports (not (-webkit-appearance: -apple-pay-button)) or (contain-intrinsic-size: 1px) {
    ::placeholder {
      --placeholder-fallback: color-mix(in oklab, currentcolor 50%, transparent);
}
}

  ::selection {
    background-color: var(--global-color-selection, rgba(0, 115, 255, 0.3));
}

  textarea {
    resize: vertical;
}

  table {
    border-color: inherit;
    text-indent: 0px;
    border-collapse: collapse;
}

  summary {
    display: list-item;
}

  small {
    font-size: 80%;
}

  sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

  sub {
    bottom: -0.25em;
}

  sup {
    top: -0.5em;
}

  dialog {
    padding: 0px;
}

  a {
    text-decoration: inherit;
    color: inherit;
}

  abbr:where([title]) {
    text-decoration: underline dotted;
}

  b,strong {
    font-weight: bolder;
}

  code,kbd,samp,pre {
    --font-mono-fallback: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New';
    font-family: var(--global-font-mono, var(--font-mono-fallback));
    font-size: 1em;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

  progress {
    vertical-align: baseline;
}

  ::-webkit-search-decoration,::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

  ::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto;
}

  :-moz-ui-invalid {
    box-shadow: none;
}

  :-moz-focusring {
    outline: auto;
}

  [hidden]:where(:not([hidden='until-found'])) {
    display: none !important;
}
}

@layer base{
  :root {
    --made-with-panda: '🐼';
    --ref-unit-test-var: 42px;
    --r-base: 16px;
    --r-density: 1;
    --spacing-r: calc(var(--r-base) * var(--r-density));
}

  [data-reference-browser] {
    --reference-color-foreground: #000000;
    --reference-color-muted: #5f5f5f;
    --reference-color-border: #000000;
    --reference-color-background: #ffffff;
    --reference-color-subtle-background: #f6f6f6;
    --reference-space-xxs: 0.125rem;
    --reference-space-xs: 0.25rem;
    --reference-space-sm: 0.5rem;
    --reference-space-md: 0.75rem;
    --reference-space-lg: 1rem;
    --reference-font-mono: monospace;
}

  *,::before,::after,::backdrop {
    --blur: /*-*/ /*-*/;
    --brightness: /*-*/ /*-*/;
    --contrast: /*-*/ /*-*/;
    --grayscale: /*-*/ /*-*/;
    --hue-rotate: /*-*/ /*-*/;
    --invert: /*-*/ /*-*/;
    --saturate: /*-*/ /*-*/;
    --sepia: /*-*/ /*-*/;
    --drop-shadow: /*-*/ /*-*/;
    --backdrop-blur: /*-*/ /*-*/;
    --backdrop-brightness: /*-*/ /*-*/;
    --backdrop-contrast: /*-*/ /*-*/;
    --backdrop-grayscale: /*-*/ /*-*/;
    --backdrop-hue-rotate: /*-*/ /*-*/;
    --backdrop-invert: /*-*/ /*-*/;
    --backdrop-opacity: /*-*/ /*-*/;
    --backdrop-saturate: /*-*/ /*-*/;
    --backdrop-sepia: /*-*/ /*-*/;
    --gradient-from-position: /*-*/ /*-*/;
    --gradient-to-position: /*-*/ /*-*/;
    --gradient-via-position: /*-*/ /*-*/;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --rotate-x: 0;
    --rotate-y: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1;
}

  @font-face {
    font-family: Inter;

    src: url(/fonts/inter.woff2) format("woff2");

    font-display: swap;

    font-weight: 200 900;

}
}



@layer utilities{

  .p_2rem {
    padding: 2rem;
}

  .p_10r {
    padding: var(--spacing-10r);
}

  .bg_green\.500 {
    background: green.500;
}

  .p_1rem {
    padding: 1rem;
}

  .bg_teal\.700 {
    background: teal.700;
}

  .bg_white {
    background: white;
}

  .px_1rem {
    padding-inline: 1rem;
}

  .py_0\.5rem {
    padding-block: 0.5rem;
}

  .bdr_0\.25rem {
    border-radius: 0.25rem;
}

  .px_5r {
    padding-inline: var(--spacing-5r);
}

  .py_2\.5r {
    padding-block: calc(2.5 * var(--spacing-r));
}

  .bdr_lg {
    border-radius: lg;
}

  .bd-w_1px {
    border-width: 1px;
}

  .border-style_solid {
    border-style: solid;
}

  .bd-c_teal\.700 {
    border-color: teal.700;
}

  .bd-c_gray\.300 {
    border-color: gray.300;
}

  .bd-c_pink\.700 {
    border-color: pink.700;
}

  .cq-t_inline-size {
    container-type: inline-size;
}

  .cq-n_card {
    container-name: card;
}

  .ff_sans {
    font-family: var(--fonts-sans);
}

  .fw_400 {
    font-weight: 400;
}

  .ls_-0\.01em {
    letter-spacing: -0.01em;
}

  .cq-n_shell {
    container-name: shell;
}

  .fw_700 {
    font-weight: 700;
}

  .c_red {
    color: red;
}

  .bx-sh_0_1px_3px_0_rgb\(0_0_0_\/_0\.1\)\,_0_1px_2px_-1px_rgb\(0_0_0_\/_0\.1\) {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

  .fw_600 {
    font-weight: 600;
}

  .c_white {
    color: white;
}

  .c_gray\.900 {
    color: gray.900;
}

  .c_pink\.700 {
    color: pink.700;
}

  .mt_2rem {
    margin-top: 2rem;
}

  .hover\:bg_pink\.50:is(:hover, [data-hover]) {
    background: pink.50;
}

  @container (min-width: 333px) {
    .\[\@container_\(min-width\:_333px\)\]\:p_1\.25rem {
      padding: 1.25rem;
}
}

  @container card (min-width: 555px) {
    .\[\@container_card_\(min-width\:_555px\)\]\:p_2\.25rem {
      padding: 2.25rem;
}
}

  @container shell (min-width: 777px) {
    .\[\@container_shell_\(min-width\:_777px\)\]\:fs_1\.125rem {
      font-size: 1.125rem;
}
}
}

@layer tokens {
@keyframes fadeIn {
    from {
      opacity: 0;
}

    to {
      opacity: 1;
}
}
}
}





[data-layer="reference-unit"] {
  --spacing-px: 1px;
  --spacing-r: 0.25rem;
  --spacing-0\.5r: calc(0.5 * var(--spacing-r));
  --spacing-1\/2r: calc(var(--spacing-r) / 2);
  --spacing-1\/3r: calc(var(--spacing-r) / 3);
  --spacing-1\/4r: calc(var(--spacing-r) / 4);
  --spacing-1\/5r: calc(var(--spacing-r) / 5);
  --spacing-1\/6r: calc(var(--spacing-r) / 6);
  --spacing-1r: var(--spacing-r);
  --spacing-1\.5r: calc(1.5 * var(--spacing-r));
  --spacing-2r: calc(2 * var(--spacing-r));
  --spacing-3r: calc(3 * var(--spacing-r));
  --spacing-4r: calc(4 * var(--spacing-r));
  --spacing-5r: calc(5 * var(--spacing-r));
  --spacing-6r: calc(6 * var(--spacing-r));
  --spacing-8r: calc(8 * var(--spacing-r));
  --spacing-10r: calc(10 * var(--spacing-r));
  --spacing-12r: calc(12 * var(--spacing-r));
  --colors-fixture-demo-bg: #0f172a;
  --colors-fixture-demo-text: #f8fafc;
  --colors-fixture-demo-accent: #14b8a6;
  --colors-light-dark-demo-bg: #f8fafc;
  --colors-light-dark-demo-text: #020617;
  --colors-reference-unit-token: rgb(168, 85, 247);
  --colors-reference-unit-color-mode-token: rgb(219, 234, 254);
  --fonts-sans: "Inter", ui-sans-serif, sans-serif;
  --font-weights-sans\.normal: 400;
  --font-weights-sans\.bold: 700;
}





[data-layer="reference-unit"][data-panda-theme=dark], [data-layer="reference-unit"] [data-panda-theme=dark] {
  --colors-light-dark-demo-bg: #020617;
  --colors-light-dark-demo-text: #f8fafc;
  --colors-reference-unit-color-mode-token: rgb(30, 41, 59)
}