@layer reset, global, base, tokens, recipes, utilities;
@layer utilities {
  .border-style_solid { border-style: solid; }
  .bd-w_calc\(1px_\+_1px\) { border-width: calc(1px + 1px); }
  .mb_calc\(1r_\*_2\) { margin-bottom: calc(1r * 2); }
  .ml_3r { margin-left: calc(3 * var(--spacing-root)); }
  .mr_3r { margin-right: calc(3 * var(--spacing-root)); }
  .mt_calc\(1r_\*_2\) { margin-top: calc(1r * 2); }
}
