@layer root {
  :root { --spacing-root: 0.25rem }
}
@layer \@reference-ui\/lib {
@layer reset, global, base, tokens, recipes, utilities;
@layer global {
  /* system global layer collapsed; pinned by ATM-SYS-01 */
}
@layer tokens {
  /* system tokens layer collapsed; pinned by ATM-SYS-01 */
}
@layer utilities {
  .\@reference-ui\/lib__m_1 { margin: 1px; }
  .\@reference-ui\/lib__p_1000 { padding: 1000px; }
  .\@reference-ui\/lib__p_1 { padding: 1px; }
  .\@reference-ui\/lib__op_0\.5 { opacity: 0.5; }
  .\@reference-ui\/lib__top_-1773218474086427\.3 { top: -1773218474086427.3px; }
  .\@reference-ui\/lib__top_-595433053192\.7813 { top: -595433053192.7813px; }
  .\@reference-ui\/lib__w_1674911018215997\.8 { width: 1674911018215997.8px; }
  .\@reference-ui\/lib__w_752396555469991\.3 { width: 752396555469991.3px; }
}
}
