@layer reset, global, base, tokens, recipes, utilities;
@layer utilities {
  .ai_center { align-items: center; }
  .c_red { color: red; }
  .d_flex { display: flex; }
  .gap_2r { gap: calc(2 * var(--spacing-root)); }
  .m_1r { margin: var(--spacing-root); }
  .p_2r { padding: calc(2 * var(--spacing-root)); }
}
