@layer root {
  :root { --spacing-root: 0.25rem }
}
@layer \@reference-ui\/lib {
@layer reset, global, base, tokens, recipes, utilities;
@layer global {
  /* system global layer collapsed; pinned by ATM-SYS-01 */
}
@layer tokens {
  /* system tokens layer collapsed; pinned by ATM-SYS-01 */
}
@layer utilities {
  .\@reference-ui\/lib__focus\:bg_blue\.500:is(:focus, [data-focus]) { background: var(--colors-blue-500); }
  .\@reference-ui\/lib__focusVisible\:outline-c_yellow\.500:is(:focus-visible, [data-focus-visible]) { outline-color: var(--colors-yellow-500); }
  .\@reference-ui\/lib__active\:c_red\.500:is(:active, [data-active]) { color: var(--colors-red-500); }
  .\@reference-ui\/lib__disabled\:op_0\.5:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) { opacity: 0.5; }
  .\@reference-ui\/lib__checked\:bd-c_green\.500:is(:checked, [data-checked], [aria-checked=true], [data-state="checked"]) { border-color: var(--colors-green-500); }
}
}
