@layer root {
  :root { --spacing-root: 0.25rem }
}
@layer \@reference-ui\/lib {
@layer reset, global, base, tokens, recipes, utilities;
@layer global {
  /* system global layer collapsed; pinned by ATM-SYS-01 */
}
@layer tokens {
  /* system tokens layer collapsed; pinned by ATM-SYS-01 */
}
@layer utilities {
  .\@reference-ui\/lib__bg_currentColor { background: currentColor; }
  .\@reference-ui\/lib__bd-c_black { border-color: black; }
  .\@reference-ui\/lib__c_transparent { color: transparent; }
  .\@reference-ui\/lib__outline-c_white { outline-color: white; }
}
}
